.wipContainer {
	width: 100%;
	height: 200px;
	margin: 20px 0;
	border-radius: 10px;

	position: relative;
	overflow: hidden;
}

.wipStripes {
	width: 200%;
	height: 100%;
	background-image: linear-gradient(
		45deg,
		hsl(45, 93%, 82%) 25%,
		white 25%,
		white 50%,
		hsl(45, 93%, 82%) 50%,
		hsl(45, 93%, 82%) 75%,
		white 75%,
		white
	);
	background-size: 50px 50px;
	animation: moveStripes 2s linear infinite;
}

.wipText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-weight: light;
	color: black;
}

@keyframes moveStripes {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50px);
	}
}
